/* Set font family for user profile */
.user-profile {
    font-family: "Fredoka", sans-serif;
}

/* Styles for the user profile container */
.user-profile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #06001481;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px;
    box-shadow: 0px 0px 3px rgb(56, 45, 45);
    /* Duplicate box-shadow removed */
}

/* Styles for the heading in the user profile */
.user-profile h2 {
    padding: 10px;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(22, 23, 32);
}

/* Styles for the user profile image */
.user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    transition: transform 0.3s ease;
}

/* Hover effect for user profile image */
.user-profile img:hover {
    transform: scale(1.1);
}

/* Styles for paragraphs in the user profile */
.user-profile p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

/* Styles for the user's name */
.user-profile .name {
    font-weight: bold;
}

/* Styles for verified and unverified email */
.user-profile .email-verified {
    color: green;
}

.user-profile .email-not-verified {
    color: red;
}