* {
    padding: 0;
    margin: 0;
}

.content {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, rgb(22, 22, 26), rgb(0, 0, 0));
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    background-color: rgb(48, 20, 20);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

button:hover {
    background-color: #00000041;
}


button:focus {
    outline: none;
}